<div class="container">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
      <p>
        Search:
        <input ng-model="$ctrl.query.name">
      </p>
    </div>
    <div class="col-md-10">
      <!--Body content-->
      <ul class="users">
        <li ng-repeat="user in $ctrl.users | filter: $ctrl.query | orderBy: $ctrl.orderProp" class="thumbnail">
          <p><strong ng-if="user.id == $ctrl.currentUser.id">{{user.name}}</strong></p>
          <p>{{user.email}}</p>
          <pre>{{user | json}}</pre>
        </li>
      </ul>
    </div>
  </div>
</div>
