body {
  padding-top: 70px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  background-color: #ececec;
}

h1 {
  border-bottom: 1px solid gray;
}

.error-text {
  color: red;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.brewery-search {
  margin-bottom: 10px;
}

.list-group-clickable:hover {
  background-color: #eceeef;
}

.form-inline div {
  margin-left: 10px;
}

.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

.clickable {
  cursor: pointer;
}

.brewery-sub-text {
  font-size: 8pt;
  font-style: italic;
}

.content-area {
  background-color: white;
}

.table-filters {
  border-bottom-width: 1px;
  border-bottom-color: #9c9c9c;
  border-bottom-style: solid;
}

.table-filters .filter-search {
  padding: 5px 10px 5px 0px;
}

.table-filters .filter-buttons {
  padding: 5px 10px 5px 0px;
}

.table-filters .filter-buttons button {
  float: right;
}

th i.fa-sort, th i.fa-sort-desc, th i.fa-sort-asc  {
  display: inline;
  padding-left: 4px;
}

.table-header-section {
  padding: 15px 0px;
}

.table-header-section button, 
.table-header-section .dropdown, 
.table-header-section a {
  float: right;
}

.table-header-section button {
  margin-left: 5px
}
