<div class="container">
  <div class="row table-filters">
    <div class="col-md-10 filter-search">
      <input id="txt-brewery-search" placeholder="Filter" ng-model="$ctrl.query.beer.name" class="form-control" autofocus>
    </div>
    <div class="col-md-2 filter-buttons">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-beer" ng-click="$ctrl.openAddBeer()">
        Add Beer
      </button>
    </div>
  </div>
  <div class="row content-area table-header-section">
    <div class="col-md-8" id="shelf-grid">

    </div>
    <div class="col-md-4" id="shelf-grid">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="true">
          Columns
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <input class='btn btn-default' type="file" nv-file-select="" uploader="uploader" /> 
      <!--<button type="button" class="btn btn-default" nv-file-select="" uploader="uploader">Select File</button>-->
      <a role="button" class="btn btn-default" ng-href="/api/shelf-beers/user/{{$ctrl.currentUser.id}}/export" target="_self">
        <i class="fa fa-download" aria-hidden="true" ></i> Export
      </a>  
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-import">
        <i class="fa fa-upload" aria-hidden="true" ></i> Import 
      </button>

      <label class="btn btn-default btn-file">
          Browse <input type="file" style="display: none;">
      </label>
    </div>
  </div>
  <div class="row content-area">
    <div class="col-md-12" id="shelf-grid">
      <table class="table" ng-show='$ctrl.shelfBeers.length > 0'>
        <thead class="thead-default">
          <tr>
            <th class="clickable" ng-click="$ctrl.sortBy('beer.brewery.name')">
              Brewery<i class="fa" ng-class="($ctrl.orderBy !== 'beer.brewery.name') ? 'fa-sort' : $ctrl.reverse ? 'fa-sort-desc' : 'fa-sort-asc'"></i>
            </th>
            <th class="clickable" ng-click="$ctrl.sortBy('beer.name')">
              Beer<i class="fa" ng-class="($ctrl.orderBy !== 'beer.name') ? 'fa-sort' : $ctrl.reverse ? 'fa-sort-desc' : 'fa-sort-asc'"></i>
            </th>
            <th class="clickable" ng-click="$ctrl.sortBy('beer.style')">
              Style<i class="fa" ng-class="($ctrl.orderBy !== 'beer.style') ? 'fa-sort' : $ctrl.reverse ? 'fa-sort-desc' : 'fa-sort-asc'"></i>
            </th>
            <th class="clickable" ng-click="$ctrl.sortBy('beer.abv')">
              ABV<i class="fa" ng-class="($ctrl.orderBy !== 'beer.abv') ? 'fa-sort' : $ctrl.reverse ? 'fa-sort-desc' : 'fa-sort-asc'"></i>
            </th>
            <th class="clickable" ng-click="$ctrl.sortBy('quantity')">
              Count<i class="fa" ng-class="($ctrl.orderBy !== 'quantity') ? 'fa-sort' : $ctrl.reverse ? 'fa-sort-desc' : 'fa-sort-asc'"></i>
            </th>
            <th>
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tr ng-repeat="shelfBeer in $ctrl.shelfBeers | filter: $ctrl.query | orderBy:$ctrl.orderBy:$ctrl.reverse">
          <td>{{shelfBeer.beer.brewery.name}}</td>
          <td>{{shelfBeer.beer.name}}</td>
          <td>{{shelfBeer.beer.style}}</td>
          <td>{{shelfBeer.beer.abv}}</td>
          <td>{{shelfBeer.quantity}}</td>
          <td><i class="fa fa-pencil clickable" aria-hidden="true" ng-click="$ctrl.openEditBeer(shelfBeer)"></i></td>
          <td><i class="fa fa-trash clickable" aria-hidden="true" ng-click="$ctrl.deleteBeer(shelfBeer)"></i></td>
        </tr>
      </table>

      <script type="text/ng-template" id="beer-template.html">
        <a>
            <span ng-bind-html='match.label | uibTypeaheadHighlight:query'></span><br />
            <span class="brewery-sub-text">{{match.model.brewery.name}}</span>
        </a>
      </script>

      <modal-window modal-id='modal-add-beer' modal-title='Add Beer' hide-modal-buttons='true' modal-focus="beer-selection">
        <form ng-submit="$ctrl.addBeerToShelf()">
          <div class="form-group">
            <label for "txt-beer left-pad-control">Beer</label>
            <input type="text" id="beer-selection" ng-model="$ctrl.newBeerSelection" uib-typeahead="beer as beer.name for beer in $ctrl.beerDb | filter:$viewValue"
              typeahead-template-url="beer-template.html" typeahead-show-hint="true" class="form-control" autocomplete="off">
          </div>

          <div class="form-group">
            <label for "txt-quantity left-pad-control">Quantity</label>
            <input id="txt-quantity" ng-model="$ctrl.newBeer.quantity" class="form-control">
          </div>

          <div class="form-group">
            <label for "txt-vintage left-pad-control">Vintage</label>
            <input id="txt-vintage" ng-model="$ctrl.newBeer.vintage" class="form-control">
          </div>

          <!--The optional attributes for this beer-->
          <div class="form-group" ng-repeat="beerAttribute in $ctrl.newBeer.beerAttributes">
            <label class="left-pad-control">{{beerAttribute.attributeType.name}}</label>
            <div class="input-group">
              <input ng-model="beerAttribute.value" class="form-control">
              <a href="#" class="input-group-addon" ng-click="$ctrl.removeShelfBeerAttribute(beerAttribute)"><i class="fa fa-minus" aria-hidden="true"></i></a>
            </div>
          </div>

          <div class="dropdown">
            <a class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown">Add Attribute <i class="fa fa-caret-down"></i>
              <span class="" title="Toggle dropdown menu"></span>
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="attributeType in $ctrl.getAttributeTypes()">
                <a href="#" ng-click="$ctrl.addShelfBeerAttribute(attributeType)">{{attributeType.name}}</a>
              </li>
              <li class="divider" ng-hide='$ctrl.getAttributeTypes().length == 0'></li>
              <li><a href="#" data-toggle="modal" data-target="#modal-new-attribute" ng-click="$ctrl.openAddNewAttribute()">Create New</a></li>
            </ul>
          </div>
          <br />
          <br />

          <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
          <div class="alert alert-danger fade in" ng-show='$ctrl.error'>
            {{$ctrl.error}}
          </div>
        </form>
      </modal-window>

      <modal-window modal-id='modal-new-attribute' modal-title='New Attribute' hide-modal-buttons='true' modal-focus="txt-new-attribute-name">
        <form ng-submit="$ctrl.addNewAttribute()">
          <div class="form-group">
            <label for "txt-new-attribute-name" class="left-pad-control">Name</label>
            <input id="txt-new-attribute-name" ng-model="$ctrl.newAttribute.name" class="form-control">
          </div>

          <div class="form-group">
            <label for "txt-new-attribute-type" class="left-pad-control">Type</label>
            <input type="text" id="txt-new-attribute-type" ng-model="$ctrl.newAttribute.attribute_data_type_id" uib-typeahead="dt as dt.name for dt in $ctrl.attributeDataTypes | filter:$viewValue"
              typeahead-min-length="0" typeahead-editable="false" class="form-control" autocomplete="off">
          </div>
          <br />

          <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
          <div class="alert alert-danger fade in" ng-show='$ctrl.error'>
            {{$ctrl.error}}
          </div>
        </form>
      </modal-window>

      <modal-window modal-id='modal-import' modal-title='Import' hide-modal-buttons='true' modal-focus='upl-import-file'>
        <div>
        <!--<input class='btn btn-default' type="file" nv-file-select="" uploader="uploader" /> 
        <button class='btn btn-primary' type='button' ng-click='$ctrl.uploader.uploadItem()'>Submit</button>-->
        <form id="upload-form" action="{{'/api/shelf-beers/user/' + $ctrl.currentUser.id + '/import'}}" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Upload Data</legend>
                <div>
                    <!-- The name here is important, and will be used later to reference the data -->
                    <input id='upl-import-file' type="file" name="shelfCsvFile" accept="text/cvs">
                </div>  
                <div>
                    <input type="submit" value="Submit"/>
                </div>
            </fieldset>
        </form>
        </div>
      </modal-window>
    </div>
  </div>
</div>
